<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Details</title>
  <link rel="stylesheet" href="/public/detailsStyles.css">
  <link rel="icon" href="data:," />
</head>

<body>
  <div class="container">
    <h2>File Details</h2>
    <div class="file-name"><%= name %></div>
    <div class="file-content"><%= data %></div>
  </div>
</body>

</html>
